#table-overlay{
	position:absolute; 
	z-index:1000; 
	background:rgba(0,0,0,0.5); 
	top:0; 
	display:none;
}

#table-overlay #note{
	position: absolute;
	z-index: 1100;
	background: #FFF;
	left: 45%;
	top: 50%;
	height: 50px;
	border-radius: 5px;
	padding: 15px 20px;
}