@font-face {
    font-family: 'Pacifico';
    src: url('pacifico/pacifico.eot');
    src: url('pacifico/pacifico.eot?#iefix') format('embedded-opentype'),
         url('pacifico/pacifico.woff') format('woff'),
         url('pacifico/pacifico.ttf') format('truetype'),
         url('pacifico/pacifico.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Colaborate';
    src: url('colaborate/bold/ColabBol-webfont.eot');
    src: url('colaborate/bold/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('colaborate/bold/ColabBol-webfont.woff') format('woff'),
         url('colaborate/bold/ColabBol-webfont.ttf') format('truetype'),
         url('colaborate/bold/ColabBol-webfont.svg') format('svg');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Colaborate';
    src: url('colaborate/light/ColabLig-webfont.eot');
    src: url('colaborate/light/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('colaborate/light/ColabLig-webfont.woff') format('woff'),
         url('colaborate/light/ColabLig-webfont.ttf') format('truetype'),
         url('colaborate/light/ColabLig-webfont.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}

/*@font-face {
    font-family: 'Colaborate';
    src: url('colaborate/medium/ColabMed-webfont.eot');
    src: url('colaborate/medium/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('colaborate/medium/ColabMed-webfont.woff') format('woff'),
         url('colaborate/medium/ColabMed-webfont.ttf') format('truetype'),
         url('colaborate/medium/ColabMed-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}*/

@font-face {
    font-family: 'Colaborate';
    src: url('colaborate/regular/ColabReg-webfont.eot');
    src: url('colaborate/regular/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('colaborate/regular/ColabReg-webfont.woff') format('woff'),
         url('colaborate/regular/ColabReg-webfont.ttf') format('truetype'),
         url('colaborate/regular/ColabReg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Colaborate';
    src: url('colaborate/thin/ColabThi-webfont.eot');
    src: url('colaborate/thin/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('colaborate/thin/ColabThi-webfont.woff') format('woff'),
         url('colaborate/thin/ColabThi-webfont.ttf') format('truetype'),
         url('colaborate/thin/ColabThi-webfont.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}